@import "tailwindcss";

@plugin "daisyui" {
  logs: false;
  themes:
    light --default,
    dark --prefersdark;
}

.scrollbar-none {
  scrollbar-width: none;
}

.scrollbar-thin {
  scrollbar-width: thin;
}

html {
  scrollbar-width: thin;
}
