@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
  /* themes: light --default, dark --prefersdark; */
}

.scrollbar-none {
  scrollbar-width: none;
}

html {
  scrollbar-width: none;
}
