@import "tailwindcss";
@plugin "daisyui" {
  /* themes: light --default; */
  themes:
    light --default,
    dark --prefersdark;
}

.scrollbar-none {
  scrollbar-width: none;
}

.scrollbar-thin {
  scrollbar-width: thin;
}

html {
  scrollbar-width: thin;
}
